@import "tailwindcss";

:root {
  --color-primary: #A855F7;
  --color-secondary: #C084FC;
  --color-accent: #94A3B8;
  --color-background: #FAF5FF;
  --color-text: #1E293B;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair), serif;
}

.text-balance {
  text-wrap: balance;
}

.font-playfair {
  font-family: var(--font-playfair), serif;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}

